
@{
    ViewBag.Title = "Biểu đồ trồng trọt";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutChart.cshtml";
}
<div class="col-xs-12 col-lg-6">
    <h3>Biểu đồ phân bố trồng trọt theo nhóm cây trồng</h3>
    <div class="col-lg-12">

             @Html.DropDownList("thang", ViewBag.Thang as IEnumerable<SelectListItem>, "Tháng")
            @Html.DropDownList("nam", ViewBag.Nam as IEnumerable<SelectListItem>, "Năm")
        <input type="button" onclick="thongke();" value="Thống kê"/>
    </div>
    <div class="col-lg-12">
     
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>

</div>

<div class="col-xs-12 col-lg-6">
    <h3>Biểu đồ phân bố trồng trọt theo phương thức trồng</h3>
    <canvas id="chart2" width="400" height="400"></canvas>
</div>

@section scripts{
    <script>
       
        function thongke() {
            var thang = $('#thang').val(),
       nam = $('#nam').val();
            var url = '@Url.Action("GetAll")' + '?thang=' + thang + '&nam=' + nam;
            //var url = '@Url.Action("GetAll")' + '?thang=4&nam=2017';
            drawPie($('#myChart'), url, { label: 'Diện tích gieo trồng' })
        }
        
        drawPie($('#chart2'), '@Url.Action("GetAllByPhuongThucTrong")', { label: 'Phương thức trồng' })
    </script>
}

