@model BVTV.Entity.TRONGTROT

@{
    ViewBag.Title = "Xóa trồng trọt - " + Model.MaDoiTuong;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDelete.cshtml";
}
<h3>Bạn chắc chắn muốn xóa?</h3>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.MaDoiTuong)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MaDoiTuong)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.NhomCayTrong)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NhomCayTrong)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LoaiCayTrong)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LoaiCayTrong)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DienTichTrong)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DienTichTrong)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TinhHinhUngDungCongNghe)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TinhHinhUngDungCongNghe)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ToChucCaNhanQuanLy)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ToChucCaNhanQuanLy)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TinhTrangThuHoach)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TinhTrangThuHoach)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.GhiChu)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.GhiChu)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MaLoaiCayTrong)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MaLoaiCayTrong)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PhuongThucTrong)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PhuongThucTrong)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ThoiVuTrongTrot)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ThoiVuTrongTrot)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MatDoCayTrong)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MatDoCayTrong)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TenGiongCayTrong)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TenGiongCayTrong)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MaHuyenTP)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MaHuyenTP)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.GiaiDoanSinhTruong)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.GiaiDoanSinhTruong)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MaDuong)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MaDuong)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.NgayCapNhat)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NgayCapNhat)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.NguoiCapNhat)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NguoiCapNhat)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SHAPE)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SHAPE)
    </dd>

</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="button" /> |
        @Html.ActionLink("Quay trở lại", "Index")
    </div>
}
