@model IEnumerable<BVTV.Entity.News>

@{
    ViewBag.Title = "Quản lý nội dung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutTable.cshtml";
}

<p>
    @Html.ActionLink("Thêm", "Create",null,new { @class="button"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_modify_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_user_modify)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_modify_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_user_modify)
        </td>
        <td>
            <a title="Chỉnh sửa" href="@Url.Action("Edit",new { id = item.id })"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a title="Xóa" href="@Url.Action("Delete",new { id = item.id })"><i class="fa fa-trash" aria-hidden="true"></i></a>
            <a title="Xem chi tiết" href="@Url.Action("Details",new { id = item.id })"><i class="fa fa-info" aria-hidden="true"></i></a>
        </td>
    </tr>
}

</table>
