@model BVTV.WebApplication.Areas.Admin.Controllers.DashBoard
@using BVTV.WebApplication.Areas.Admin.Models
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}





@if (User.IsInRole("tester"))
{
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <i class="fa fa-address-card " aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@Html.DisplayFor(a => a.DoanhNghiepCount)</div>
                        <div class="text-muted">@Html.DisplayNameFor(a => a.DoanhNghiepCount)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <i class="fa fa-bug" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@Html.DisplayFor(a => a.SauBenhCount)</div>
                        <div class="text-muted">@Html.DisplayNameFor(a => a.SauBenhCount)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <i class="fa fa-tree" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@Html.DisplayFor(a => a.DatTrongCount)</div>
                        <div class="text-muted">@Html.DisplayNameFor(a => a.DatTrongCount)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@Html.DisplayFor(a => a.MemberCount)</div>
                        <div class="text-muted">@Html.DisplayNameFor(a => a.MemberCount)</div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->
}

@if (User.IsInRole("admin") || User.IsInRole("updater") || User.IsInRole("testerandupdater"))
{
    @section headtag{
        <link rel="stylesheet" href="~/Content/claro.css">
        <link rel="stylesheet" href="https://js.arcgis.com/3.20/esri/css/esri.css">
        <link href="~/Content/admin-map.css" rel="stylesheet" />
        <script src="https://js.arcgis.com/3.20/"></script>


    }
    @section scripts{
        <script>
            var roles = [];
            $.getJSON('@Url.Action("GetRoles")', function (response) {
                for (var i in response) {
                    roles.push(response[i]);
                }
            }
            );

        </script>
        <script src="~/Scripts/map/map-admin.js"></script>
    }
    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3 tab-search">
            <ul class="nav nav-green">
                <li class="active"><a data-toggle="pill" href="#menu1">Chỉnh sửa</a></li>
                <li><a data-toggle="pill" href="#home">Tìm kiếm</a></li>
                <li><a data-toggle="pill" href="#thongke">Thống kê</a></li>
            </ul>

            <div class="tab-content">
                <div id="thongke" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-blue panel-widget ">
                                <div class="row no-padding">
                                    <div class="col-sm-3 col-lg-5 widget-left">
                                        <i class="fa fa-address-card " aria-hidden="true"></i>
                                    </div>
                                    <div class="col-sm-9 col-lg-7 widget-right">
                                        <div class="large">@Html.DisplayFor(a => a.DoanhNghiepCount)</div>
                                        <div class="text-muted">@Html.DisplayNameFor(a => a.DoanhNghiepCount)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-orange panel-widget">
                                <div class="row no-padding">
                                    <div class="col-sm-3 col-lg-5 widget-left">
                                        <i class="fa fa-bug" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-sm-9 col-lg-7 widget-right">
                                        <div class="large">@Html.DisplayFor(a => a.SauBenhCount)</div>
                                        <div class="text-muted">@Html.DisplayNameFor(a => a.SauBenhCount)</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="panel panel-red panel-widget">
                                <div class="row no-padding">
                                    <div class="col-sm-3 col-lg-5 widget-left">
                                        <i class="fa fa-tree" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-sm-9 col-lg-7 widget-right">
                                        <div class="large">@Html.DisplayFor(a => a.DatTrongCount)</div>
                                        <div class="text-muted">@Html.DisplayNameFor(a => a.DatTrongCount)</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="panel panel-teal panel-widget">
                                <div class="row no-padding">
                                    <div class="col-sm-3 col-lg-5 widget-left">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-sm-9 col-lg-7 widget-right">
                                        <div class="large">@Html.DisplayFor(a => a.MemberCount)</div>
                                        <div class="text-muted">@Html.DisplayNameFor(a => a.MemberCount)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/.row-->
                </div>
                <div id="menu1" class="tab-pane fade in active">
                    <div id="templatePickerPane">
                        <div id="editorDiv"></div>
                    </div>
                </div>
                <div id="home" class="tab-pane fade">
                    <ul class="nav nav-tabs nav-green nav-justified responsive" id="myTab">
                        <li class="active"><a data-toggle="pill" href="#tab-doanhnghiep">Doanh nghiệp</a></li>
                        <li><a id="a-tab-saubenh" data-toggle="pill" href="#tab-saubenh">Sâu bệnh</a></li>
                        <li><a id="a-tab-trongtrot" data-toggle="pill" href="#tab-trongtrot">Trồng trọt</a></li>
                    </ul>

                    <div class="tab-content responsive">
                        <div class="tab-pane active" id="tab-doanhnghiep">
                            <h5>Tìm thông tin Doanh nghiệp</h5>
                            <div class="formSearch">
                                <input type="text" id="txtMaDN" placeholder="Mã doanh nghiệp" />
                                <input type="text" id="txtTen" placeholder="Tên doanh nghiệp" />
                                @Html.DropDownList("cbQuanHuyen", ViewBag.QuanHuyen as IEnumerable<SelectListItem>, "Quận/Huyện")
                                <input type="button" id="btnFind" value="Tìm kiếm" class="button">
                                <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
                            </div>
                            <div class="resultFormSearch">
                                <table data-toggle="table" class="table" data-row-style="rowStyle">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã</th>
                                            <th>Tên doanh nghiệp <span class="label label-danger pull-right" id="counter">0</span></th>
                                        </tr>
                                    </thead>

                                    <tbody id="result"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-saubenh">

                            <h5>Tìm thông tin Sâu bệnh</h5>
                            <div class="formSearch">
                                <select id="cbNhomCayTrong">
                                    <option value="" selected>Nhóm cây trồng</option>
                                </select>
                                <select id="cbLoaiCayTrong">
                                    <option value="" selected>Loại cây trồng</option>
                                </select>
                                <select id="cbCapDoGayHai">
                                    <option value="" selected>Cấp độ gây hại</option>
                                </select>
                                <input type="number" id="nbPhamViAnhHuong" placeholder="Phạm vi ảnh hưởng" />
                                <input type="number" id="nbDienTich" placeholder="Diện tích" />
                                <input type="button" id="btnFind" value="Tìm kiếm" />
                                <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
                            </div>
                            <div class="resultFormSearch">
                                <table data-toggle="table" class="table" data-row-style="rowStyle">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã</th>
                                            <th>Tên sâu bệnh  <span class="label label-danger  pull-right" id="counter">0</span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="result"></tbody>
                                </table>
                            </div>

                        </div>
                        <div class="tab-pane" id="tab-trongtrot">

                            <h5>Tìm thông tin Cây trồng</h5>
                            <div class="formSearch">
                                <select id="cbNhomCayTrong">
                                    <option value="" selected>Nhóm cây trồng</option>
                                </select>
                                <select id="cbLoaiCayTrong">
                                    <option value="" selected>Loại cây trồng</option>
                                </select>
                                <select id="cbPhuongThucTrong">
                                    <option value="" selected>Phương thức trồng</option>
                                </select>
                                <input type="number" id="nbDienTich" placeholder="Diện tích" />
                                <input type="button" id="btnFind" value="Tìm kiếm" />
                                <img src="~/Content/img/default.gif" class="loading" style="display: none;" />
                            </div>
                            <div class="resultFormSearch">
                                <table data-toggle="table" class="table" data-row-style="rowStyle">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã</th>
                                            <th>Huyện/TP  <span class="label label-danger  pull-right" id="counter">0</span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="result"></tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-9 col-lg-9 tap-map" id="tabMapControl">
            <div id="mainContainer" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false">
                <div id="map" dir="ltr" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
                    @*<div id="layerListPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'right'">*@
                    <div id="layerList"></div>
                    @*</div>*@
                    <div id="LocateButton">
                    </div>
                    <div id="tableControl" class="dropdown map-control">
                        <button type="button" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-tasks"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a onclick="loadTableDoanhNghiep();" href="javascript:void(0)">Doanh nghiệp</a></li>
                            <li><a onclick="loadTableSauBenh();" href="javascript:void(0)">Sâu bệnh</a></li>
                            <li><a onclick="loadTableTrongTrot();" href="javascript:void(0)">Trồng trọt</a></li>
                        </ul>
                    </div>
                </div>
                <div id="contentPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom',splitter:true">
                    <div id="tableLayerSauBenh"></div>
                    <div id="tableDoanhNghiep"></div>
                    <div id="tableTrongTrot"></div>
                </div>
            </div>
        </div>
    </div>
}
