@model BVTV.WebApplication.Areas.Admin.Controllers.DashBoard
@using BVTV.WebApplication.Areas.Admin.Models
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}





@if (User.IsInRole("tester"))
{
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <i class="fa fa-address-card " aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@Html.DisplayFor(a => a.DoanhNghiepCount)</div>
                        <div class="text-muted">@Html.DisplayNameFor(a => a.DoanhNghiepCount)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <i class="fa fa-bug" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@Html.DisplayFor(a => a.SauBenhCount)</div>
                        <div class="text-muted">@Html.DisplayNameFor(a => a.SauBenhCount)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <i class="fa fa-tree" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@Html.DisplayFor(a => a.DatTrongCount)</div>
                        <div class="text-muted">@Html.DisplayNameFor(a => a.DatTrongCount)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@Html.DisplayFor(a => a.MemberCount)</div>
                        <div class="text-muted">@Html.DisplayNameFor(a => a.MemberCount)</div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->
}

@if (User.IsInRole("admin") || User.IsInRole("updater"))
{
    @section headtag{
        <link rel="stylesheet" href="~/Content/claro.css">
        <link rel="stylesheet" href="https://js.arcgis.com/3.20/esri/css/esri.css">
        <link href="~/Content/map-admin.css" rel="stylesheet" />
        <script src="https://js.arcgis.com/3.20/"></script>


    }

    <div id="tabMapControl">
        <div id="mainContainer" class="col-lg-12" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false">
            <div id="map" dir="ltr" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
                <div class="dtg-widget-container">
                    <div id="layerList"></div>
                    <div id="LocateButton">
                    </div>
                    <div id="tableControl" class="dtg-widget-control">
                    </div>
                    <div id="addFeatureControl" class="dropdown dtg-widget-control " title="Thêm doanh nghiệp hoặc sâu bệnh">
                        <button type="button" data-toggle="dropdown">
                            <span class="glyphicon glyphicon glyphicon-plus-sign"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a id="addDNFL" href="javascript:void(0)">Doanh nghiệp</a></li>
                            <li><a id="addSBFL" href="javascript:void(0)">Sâu bệnh</a></li>
                        </ul>
                    </div>
                    <div id="dtg-control-saubenh-mode" class="dtg-widget-control">

                    </div>
                </div>
            </div>
            <div id="contentPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom',splitter:true">
            </div>
        </div>
    </div>
    <div data-dojo-type="dijit/Dialog" data-dojo-id="frmDoanhNghiep" title="Tìm kiếm doanh nghiệp"
         execute="findRecordsFeatureLayer(dojo.toJson(arguments[0], true),'DN')">
        <div class="dijitDialogPaneContentArea">
            <table>
                <tr>
                    <td><label for="MaDoanhNghiep">Mã doanh nghiệp: </label></td>
                    <td><input data-dojo-type="dijit/form/TextBox" type="text" name="MaDoanhNghiep" id="MaDoanhNghiep"></td>
                </tr>
                <tr>
                    <td><label for="tendoanhnghiep">Tên doanh nghiệp: </label></td>
                    <td><input data-dojo-type="dijit/form/TextBox" type="text" name="Ten" id="Ten"></td>
                </tr>
                <tr>
                    <td><label for="MaHuyenTP">Quận/Huyện: </label></td>
                    <td>
                        <select name="MaHuyenTP" data-dojo-type="dijit/form/Select">
                            @{
                                foreach (var slt in ViewBag.QuanHuyen as IEnumerable<SelectListItem>)
                                {
                                    <option value="@slt.Value">@slt.Text</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="dijitDialogPaneActionBar">
            <button data-dojo-type="dijit/form/Button" type="submit" onClick="return frmDoanhNghiep.isValid();">
                Đồng ý
            </button>
            <button data-dojo-type="dijit/form/Button" type="button" onClick="frmDoanhNghiep.hide()">
                Hủy
            </button>
        </div>
    </div>
    <div data-dojo-type="dijit/Dialog" data-dojo-id="frmSauBenh" title="Tìm kiếm sâu bệnh"
         execute="findRecordsFeatureLayer(dojo.toJson(arguments[0], true),'SB')">
        <div class="dijitDialogPaneContentArea">
            <table>
                <tr>
                    <td><label for="MaSauBenh">Mã sâu bệnh: </label></td>
                    <td><input data-dojo-type="dijit/form/TextBox" type="text" name="MaSauBenh" id="MaSauBenh"></td>
                </tr>
                <tr>
                    <td><label for="tensaubenh">Tên sâu bệnh: </label></td>
                    <td><input data-dojo-type="dijit/form/TextBox" type="text" name="TenSauBenhGayHai" id="TenSauBenhGayHai"></td>
                </tr>
                <tr>
                    <td><label for="cbQuanHuyen">Quận/Huyện: </label></td>
                    <td>
                        <select name="MaHuyenTP" data-dojo-type="dijit/form/Select">
                            @{
                                foreach (var slt in ViewBag.QuanHuyen as IEnumerable<SelectListItem>)
                                {
                                    <option value="@slt.Value">@slt.Text</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="dijitDialogPaneActionBar">
            <button data-dojo-type="dijit/form/Button" type="submit" onClick="return frmSauBenh.isValid();">
                Đồng ý
            </button>
            <button data-dojo-type="dijit/form/Button" type="button" onClick="frmSauBenh.hide()">
                Hủy
            </button>
        </div>
    </div>
    <div data-dojo-type="dijit/Dialog" data-dojo-id="frmTrongTrot" title="Tìm kiếm trồng trọt"
         execute="findRecordsFeatureLayer(dojo.toJson(arguments[0], true),'TT')">
        <div class="dijitDialogPaneContentArea">
            <table>
                <tr>
                    <td><label for="MaTrongTrot">Mã trồng trọt: </label></td>
                    <td><input data-dojo-type="dijit/form/TextBox" type="text" name="MaTrongTrot" id="MaTrongTrot"></td>
                </tr>
                <tr>
                    <td><label for="MaHuyenTP">Quận/Huyện: </label></td>
                    <td>
                        <select name="MaHuyenTP" data-dojo-type="dijit/form/Select">
                            @{
                                foreach (var slt in ViewBag.QuanHuyen as IEnumerable<SelectListItem>)
                                {
                                    <option value="@slt.Value">@slt.Text</option>
                                }
                            }
                        </select>

                </tr>
            </table>
        </div>
        <div class="dijitDialogPaneActionBar">
            <button data-dojo-type="dijit/form/Button" type="submit" onClick="return frmTrongTrot.isValid();">
                Đồng ý
            </button>
            <button data-dojo-type="dijit/form/Button" type="button" onClick="frmTrongTrot.hide()">
                Hủy
            </button>
        </div>
    </div>

    <div data-dojo-type="dijit/Dialog" data-dojo-id="frmBieudoTT" title="Thống kê trồng trọt">
        <div class="dijitDialogPaneContentArea">
                <select class="form-control" id="chart-tt-nam">
                    <option>Chọn năm</option>
                </select>
                <select class="form-control" id="chart-tt-thang"></select>
                
                <canvas id="chartDienTichGieoTrong" width="350" height="350"></canvas>
            
           
        </div>
        <div class="dijitDialogPaneActionBar">
            <input class="btn btn-default" type="button" onclick="thongke();" value="Thống kê" />
            <button class="btn btn-default" type="button" onClick="frmBieudoTT.hide()">
                Tắt
            </button>
        </div>
    </div>

    @section scripts{
        <script>
            var roles = [];
            $.getJSON('@Url.Action("GetRoles")', function (response) {
                for (var i in response) {
                    roles.push(response[i]);
                }
            });
        </script>
        @Scripts.Render("~/js/map/admin")
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
<script src="~/Scripts/chartjs/draw-chart.js"></script>
<script>
                var thang,nam;
                $(function () {
                    thang = $('#chart-tt-thang');
                    nam = $('#chart-tt-nam');

                    nam.change(function () {
                        thang.find('option').remove();
                        $.getJSON('@Url.Action("GetMonth","TrongTrot")?year=' + nam.val(), function (datas) {
                            if (datas.length > 0) {
                                let option = $("<option/>");
                                option.text('Chọn tháng');
                                thang.append(option);
                            for (let i in datas) {
                                let data = datas[i];
                                let option = $("<option/>");
                                option.text(data.Text);
                                option.attr('value', data.Value);
                                thang.append(option);
                            }
                        }
                        });
                    });

                    $.getJSON('@Url.Action("GetYear","TrongTrot")', function (datas) {
                        if (datas.length > 0) {
                            for (let i in datas) {
                                let data = datas[i];
                                let option = $("<option/>");
                                option.text(data.Text);
                                option.attr('value', data.Value);
                                nam.append(option);
                            }
                        }
                    });


                });
                function thongke() {

                    var url = '@Url.Action("GetAll","TrongTrot")' + '?thang=' + thang.val() + '&nam=' + nam.val();
                    drawPie($('#chartDienTichGieoTrong'), url, { label: 'Diện tích gieo trồng' })
                }
</script>
    }
                                }
