@using BVTV.WebApplication.Models;

@model IEnumerable<ApplicationUser>

@{

    ViewBag.Title = "Quản lý thành viên";

    Layout = "~/Areas/Admin/Views/Shared/_LayoutTable.cshtml";

}

@Html.ActionLink("Tạo", "Register", null, new { @class = "button" })
<table class="table table-borderer">
    <thead>
        <tr>
            <th>Tài khoản</th>
            <th>Tên hiển thị</th>
            <th>Tác vụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>

                <td>@item.DisplayName</td>

                <td>
                    <a title="Chỉnh sửa" href="@Url.Action("Edit",new { id = item.Id })"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a title="Chỉnh sửa quyền" href="@Url.Action("EditRole",new { id = item.Id })"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    <a title="Xóa" href="@Url.Action("Delete",new { id = item.Id })"><i class="fa fa-trash" aria-hidden="true"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>

