@using BVTV.WebApplication.Models;
@using BVTV.Entity;
@model IEnumerable<ApplicationUser>

@{

    ViewBag.Title = "Quản lý thành viên";

    Layout = "~/Areas/Admin/Views/Shared/_LayoutTable.cshtml";

    
    BaoVeThucVatEntities db = new BaoVeThucVatEntities();

}

@Html.ActionLink("Tạo", "Register", null, new { @class = "button" })
<table class="table table-borderer">
    <thead>
        <tr>
            <th>Tài khoản</th>
            <th>Tên hiển thị</th>
            <th>Quyền</th>
            <th>Tác vụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>

                <td>@item.DisplayName</td>
                @{
                    string displayRole = "";
                    var roles = item.Roles.ToList();
                    for (var i = 0;i<roles.Count;i++)
                    {
                        var role = roles[i];
                        var rlName = db.AspNetRoles.First(f => f.Id.Equals(role.RoleId)).Name;
                        displayRole += rlName;
                        if (i != roles.Count - 1) {
                            displayRole += " - ";
                        }
                    }
                    if (String.IsNullOrEmpty(displayRole))
                    {
                        displayRole = "Không có quyền";
                    }
                }
                <td>@displayRole</td>
                <td>
                    <a title="Chỉnh sửa" href="@Url.Action("Edit",new { id = item.Id })"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a title="Đổi mật khẩu" href="@Url.Action("ChangePassword")"><i class="fa fa-lock" aria-hidden="true"></i></a>
                    <a title="Chỉnh sửa quyền" href="@Url.Action("EditRole",new { id = item.Id })"><i class="fa fa-wrench" aria-hidden="true"></i></a>
                    <a title="Xóa" href="@Url.Action("Delete",new { id = item.Id })"><i class="fa fa-trash" aria-hidden="true"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>

