@model BVTV.Entity.SAUBENH

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>SAUBENH</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NhomCayTrong)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NhomCayTrong)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LoaiCayTrong)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoaiCayTrong)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TenSauBenhGayHai)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TenSauBenhGayHai)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MatDoSauBenhGayHai)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MatDoSauBenhGayHai)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhamViAnhHuong)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhamViAnhHuong)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MucDoAnhHuong)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MucDoAnhHuong)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ThoiGianGayHai)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ThoiGianGayHai)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CapDoGayHai)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CapDoGayHai)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TinhHinhKiemSoatDichBenh)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TinhHinhKiemSoatDichBenh)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MucDoKiemSoat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MucDoKiemSoat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BienPhapXuLy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BienPhapXuLy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DienTich)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DienTich)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MaHuyenTP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MaHuyenTP)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GiaiDoanSinhTruong)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GiaiDoanSinhTruong)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NgayCapNhat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NgayCapNhat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NguoiCapNhat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NguoiCapNhat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MaSauBenh)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MaSauBenh)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SHAPE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SHAPE)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.OBJECTID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
