@model IEnumerable<BVTV.Entity.SAUBENH>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutTable.cshtml";
    ViewBag.Title = "Sâu bệnh";
}

<table id="table" data-toggle="table" data-show-export="true" data-detail-view="true" data-detail-formatter="detailFormatter" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true">
    <thead>
        <tr>
            <th data-field="id">
                @Html.DisplayNameFor(model => model.MaSauBenh)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.NhomCayTrong)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.LoaiCayTrong)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.TenSauBenhGayHai)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.MatDoSauBenhGayHai)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.PhamViAnhHuong)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.MucDoAnhHuong)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.CapDoGayHai)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.MaHuyenTP)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.NgayCapNhat)
            </th>
            <th>Tác vụ</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSauBenh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhomCayTrong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiCayTrong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSauBenhGayHai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatDoSauBenhGayHai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhamViAnhHuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MucDoAnhHuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapDoGayHai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHuyenTP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>

            <td>
                <a title="Chỉnh sửa" href="@Url.Action("Edit",new { id = item.OBJECTID })"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a title="Xóa" href="@Url.Action("Delete",new { id = item.OBJECTID })"><i class="fa fa-trash" aria-hidden="true"></i></a>
                <a title="Xem chi tiết" href="@Url.Action("Details",new { id = item.OBJECTID })"><i class="fa fa-info" aria-hidden="true"></i></a>
            </td>
        </tr>
    }

</table>
