@model BVTV.Entity.DOANHNGHIEP

@{
    ViewBag.Title = "Xem chi tiết doanh nghiệp - " + Model.TenDonViDoanhNghiep;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDetails.cshtml";
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.MaDoanhNghiep)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MaDoanhNghiep)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.NguoiDaiDienDoanhNghiep)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NguoiDaiDienDoanhNghiep)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SoNha)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SoNha)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TenDuong)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TenDuong)
    </dd>


    <dt>
        @Html.DisplayNameFor(model => model.Website)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Website)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DiaChiKho)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DiaChiKho)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TenCBPhuTrach)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TenCBPhuTrach)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DienThoai)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DienThoai)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Fax)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Fax)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LoaiDonViSXKD)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LoaiDonViSXKD)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DanhMucSanPham)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DanhMucSanPham)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.GiayPhepSXKD)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.GiayPhepSXKD)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SanLuongTrongNam)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SanLuongTrongNam)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.GiayCNDuDieuKienSXKD)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.GiayCNDuDieuKienSXKD)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DanhGiaXepLoai)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DanhGiaXepLoai)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ThoiGianThanhTra)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ThoiGianThanhTra)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.NguyenNhanThanhTra)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NguyenNhanThanhTra)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.HinhThucPhat)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.HinhThucPhat)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MucPhat)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MucPhat)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MaHoSoLuuTru)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MaHoSoLuuTru)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SoLanViPham)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SoLanViPham)
    </dd>


</dl>
<div>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.OBJECTID }) |
    @Html.ActionLink("Quay lại", "Index")
</div>
