@model IEnumerable<BVTV.Entity.DOANHNGHIEP>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutTable.cshtml";
    ViewBag.Title = "Doanh nghiệp";
}

<table id="table" data-toggle="table" data-detail-view="true" data-detail-formatter="detailFormatter" data-show-export="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
    <thead>
        <tr>
            <th data-field="id">@Html.DisplayNameFor(model=>model.MaDoanhNghiep)</th>
            <th data-sortable="true">@Html.DisplayNameFor(model => model.NguoiDaiDienDoanhNghiep)</th>
            <th data-sortable="true" >@Html.DisplayNameFor(model => model.SoNha)</th>
            <th data-sortable="true" >@Html.DisplayNameFor(model => model.DienThoai)</th>
            <th data-sortable="true">@Html.DisplayNameFor(model => model.Fax)</th>
            <th data-sortable="true">@Html.DisplayNameFor(model => model.Email)</th>
            <th>Tác vụ</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDoanhNghiep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDaiDienDoanhNghiep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoNha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a title="Chỉnh sửa" href="@Url.Action("Edit",new { id = item.OBJECTID })"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a title="Xóa" href="@Url.Action("Delete",new { id = item.OBJECTID })"><i class="fa fa-trash" aria-hidden="true"></i></a>
                <a title="Xem chi tiết" href="@Url.Action("Details",new { id = item.OBJECTID })"><i class="fa fa-info" aria-hidden="true"></i></a>
            </td>
        </tr>
    }
</table>
