<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font_awesome/css/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/bootstrap/js/jquery1_9.min.js"></script>
   
</head>
<body class="claro">

    <div style="background-color: #1AB050;">
        <div class="container" style="background-color: #1AB050;">
            <div id="headerBanner"
                style="color: yellow; font-size: x-large;  height: 100px;
             padding-top: 10px; background: url('/Content/img/bgBanner.png') no-repeat">
               
                      <img src="~/Content/img/logo.gif" style="width: 80px; margin-top: 2px;" />
                      Chi cục Trồng trọt và Bảo vệ thực vật tỉnh Bình Dương                     
                       @*<span style="display: block; position: relative; left: 55px; top: -15px;">&nbsp;</span>*@
              
            </div>
        </div>
    </div>
    <!-- Fixed navbar  navbar-fixed-top-->
    <nav class="navbar navbar-default" id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="display: none;">Môi trường & Tài nguyên</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="menu_content">
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-gavel" aria-hidden="true"></i>&nbsp; Quản lý sâu bệnh                            
                        </a>
                    </li>
                    <li class="" id="home">
                        <a href="#">
                            <i class="fa fa-globe" aria-hidden="true"></i>&nbsp;Mặc định
                        </a>
                    </li>
                    <li class="">
                        <a href="#" id="location">
                            <i class="fa fa-street-view" aria-hidden="true"></i>&nbsp; Định vị
                        </a>
                    </li>
                    <li class="" id="tabSearch">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
                            <i class="fa fa-search-plus" aria-hidden="true"></i>&nbsp;Tìm kiếm
                        @*<span class="caret"></span>*@
                            
                            </a>
                      @*<ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                      </ul>*@
                    </li>
                    <li class="" id="tabAddData">
                        <a href="#">
                            <i class="fa fa-magic" aria-hidden="true"></i>&nbsp;Thêm mới
                        </a>
                    </li>
                    <li style="float:right">
                        <a href="@Url.Action("Logout","Login")">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Đăng xuất
                        </a>
                    </li>
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="#" id="UserIDDivWelcome"><span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    @RenderBody()
    @RenderSection("scripts", required: false)
    
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap/js/responsive-tabs.js"></script>


   
  

</body>
</html>
