
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- CSS -->
    <!-- Bootstrap CSS-->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Icon Font CSS
    ============================================ -->
    <link rel="stylesheet" href="~/Content/GreenSeoul/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/Content/GreenSeoul/css/font-awesome.min.css">
    
    <!-- Style CSS
    ============================================ -->
    <link rel="stylesheet" href="~/Content/GreenSeoul/css/style.css">
    <!-- Modernizer JS
    ============================================ -->
    @*<script src="~/Scripts/GreenSeoul/modernizr-2.8.3.min.js"></script>*@
    <!-- jQuery JS
    ============================================ -->
    <script src="~/Scripts/jquery-3.2.0.min.js"></script>
    
</head>

<body>
    <!-- Body main wrapper start -->
    <div class="wrapper fix">

        <!-- Header Area Start -->
        <section id="header-area" class="header-area">

            <!-- Header Top Start -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <!-- Header Top Left -->
                        <div class="header-top-left text-left col-md-6 col-sm-8 col-xs-12">
                            <p><span>Đường dây nóng:</span> __________</p>
                            <p><span>Thư điện tử:</span> _________.___</p>
                        </div>
                        <!-- Header Top Right -->
                        <div class="header-top-right col-md-6 col-sm-4 col-xs-12 hidden-xs">
                            <!-- Header Quote Button -->
                            <a href="@Url.Action("Index","Contact")" class="get-quote float-right">liên hệ</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top End -->
            <!-- Header Bottom Start -->
            <div class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- Logo -->
                            <div class="header-logo float-left">
                                <a class="logo" href="index.html">
                                    <img src="~/Content/GreenSeoul/img/LogoCCBVTV.JPG" alt="">
                                    <div class="slogan">
                                        <p>
                                            Chi cục BVTV - Bình Dương
                                        </p>

                                    </div>

                                </a>
                            </div>
                            <!-- Main Menu -->
                            <div id="main-menu" class="main-menu float-right hidden-xs">
                                <nav>
                                    <ul>
                                        <li class="active">
                                            <a href="@Url.Action("Index","Home")">trang chủ</a>
                                        </li>
                                        <li><a href="@Url.Action("About","Home")">Giới thiệu</a></li>
                                        <li><a href="@Url.Action("Index","Map")">bản đồ</a></li>
                                        <li>
                                            <a href="#">sâu bệnh</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Bottom End -->

        </section>
        <!-- Header Area End -->
        @RenderBody()

        <!-- Footer Bottom Area Start -->
        <section id="footer-bottom-area" class="footer-bottom-area ">
            <!-- Footer Top Area End -->
            <div class="container">
                <div class="row">
                    <!-- Copyright -->
                    <div class="copyright text-left col-sm-6 col-xs-12">
                        <p>Bản quyền &copy; <span>Chi cục bảo vệ thực vật tỉnh Bình Dương</span>. 2017</p>
                    </div>
                    <!-- Author Credit -->
                    <div class="author-credit text-right col-sm-6 col-xs-12">
                        <p>Giao diện được mode dựa trên Green Soul - 2017 của <a href="https://hastech.company/">Hastech</a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer Bottom Area End -->
        <!-- Body main wrapper end -->
        <!-- JS -->
        <!-- Bootstrap JS
        ============================================ -->
        <script src="~/Scripts/GreenSeoul/bootstrap.min.js"></script>
        
</body>

</html>