

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">

    <title>@ViewBag.Title - Quản trị - Cục Bảo vệ thực vật tỉnh Bình Dương</title>

    @Styles.Render("~/css/lumino")
    @RenderSection("headtag", false)
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
           @Html.Partial("Menu")
        </div>
    </nav>
    @*@RenderPage("RightMenu.cshtml")*@
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/js/lumino")
    @RenderSection("scripts", required: false)
    <script>
        !function ($) {
            $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
                $(this).find('em:first').toggleClass("glyphicon-minus");
            });
            $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
        }(window.jQuery);

        $(window).on('resize', function () {
            if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
        })
        $(window).on('resize', function () {
            if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
        })
    </script>
</body>
</html>
