@using Microsoft.AspNet.Identity
@using BVTV.WebApplication.Models
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Trang quản lý", "Map", "Home", new { area = "" },new { @class = "navbar-brand" })
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="@Html.IsSelected(actions: "Index", controllers: "Home")">
                    @Html.ActionLink("Trang Chủ", "Index", "Home")
                </li>
                <li class="@Html.IsSelected(actions: "Index", controllers: "ManagerRole")">
                    @Html.ActionLink("Quản lý quyền", "Index", "ManagerRole").If(User.IsInRole("admin"))
                </li>
                <li class="@Html.IsSelected(actions: "Index", controllers: "ManagerUser")">
                    @Html.ActionLink("Quản lý tài khoản", "Index", "ManagerUser").If(User.IsInRole("admin"))
                </li>
                <li class="@Html.IsSelected(actions: "Index", controllers: "News")">
                    @Html.ActionLink("Quản lý nội dung", "Index", "News").If(User.IsInRole("admin") || User.IsInRole("newseditor"))
                </li>
                @if (User.IsInRole("admin") || User.IsInRole("updater") || User.IsInRole("testerandupdater") || User.IsInRole("tester"))
            {
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0)">
                            Biểu đồ
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Doanh nghiệp", "Chart", "DoanhNghiep")</li>
                            <li>@Html.ActionLink("Tròng trọt", "Chart", "TrongTrot")</li>
                        </ul>
                    </li>
                    @*<li class="dropdown @Html.IsSelected(actions: "Index", controllers: "DoanhNghiep")">
                        <a class="dropdown-toggle" href="@Url.Action("Index", "DoanhNghiep")">
                            Doanh nghiệp
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Bản đồ", "Map", "DoanhNghiep").If(User.IsInRole("admin") || User.IsInRole("updater") || User.IsInRole("testerandupdater"))</li>
                            <li>@Html.ActionLink("Biểu đồ", "Chart", "DoanhNghiep")</li>
                        </ul>
                    </li>

                    <li class="dropdown @Html.IsSelected(actions: "Index", controllers: "SauBenh")">
                        <a class="dropdown-toggle" href="@Url.Action("Index", "SauBenh")">
                            Sâu bệnh
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Bản đồ", "Map", "SauBenh").If(User.IsInRole("admin") || User.IsInRole("updater") || User.IsInRole("testerandupdater"))</li>
                            <li>@Html.ActionLink("Biểu đồ", "Chart", "SauBenh")</li>
                        </ul>
                    </li>
                    <li class="dropdown @Html.IsSelected(actions: "Index", controllers: "TrongTrot")">
                        <a class="dropdown-toggle" href="@Url.Action("Index", "TrongTrot")">
                            Trồng trọt
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Bản đồ", "Map", "TrongTrot").If(User.IsInRole("admin") || User.IsInRole("updater") || User.IsInRole("testerandupdater"))</li>
                            <li>@Html.ActionLink("Biểu đồ", "Chart", "TrongTrot")</li>
                        </ul>
                    </li>*@
                }
                @*<li class="active"><a href="#">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>*@
            </ul>
            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown pull-right not-hover">
                        @{
                            var manager = new UserManager<ApplicationUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<ApplicationUser>(new ApplicationDbContext()));
                            var currentUser = manager.FindById(User.Identity.GetUserId());
                        }
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle-o" aria-hidden="true"></i> @currentUser.DisplayName <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("ChangePassword", "ManagerUser")"><i class="fa fa-info" aria-hidden="true"></i>   Thay đổi mật khẩu</a></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
                            }
        </div>
    </div>
</nav>