<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li>
            @Html.ActionLink("Trang Chủ", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Quản lý quyền", "Index", "ManagerRole")
        </li>
        <li>
            @Html.ActionLink("Quản lý tài khoản", "Index", "ManagerUser")
        </li>
        <li>
            @Html.ActionLink("Quản lý nội dung", "Index", "News")
        </li>
        <li class="parent">
            @Html.ActionLink("Doanh Nghiệp", "Index", "DoanhNghiep")
            <ul class="children collapse" id="sub-item-1">
                <li>SXX</li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("Sâu bệnh", "Index", "SauBenh")
        </li>
        <li>
            @Html.ActionLink("Trồng trọt", "Index", "TrongTrot")
        </li>
        <li role="presentation" class="divider"></li>
        <li>
            @Html.ActionLink("Bản đồ", "Index", "Map", new { area = "" })
        </li>
    </ul>
</div><!--/.sidebar-->