<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li>
            @Html.ActionLink("Trang Chủ", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Quản lý quyền", "Index", "ManagerRole").If(User.IsInRole("admin"))
        </li>
        <li>
            @Html.ActionLink("Quản lý tài khoản", "Index", "ManagerUser").If(User.IsInRole("admin"))
        </li>
        <li>
            @Html.ActionLink("Quản lý nội dung", "Index", "News").If(User.IsInRole("admin") || User.IsInRole("newseditor"))
        </li>
        @if (User.IsInRole("admin") || User.IsInRole("updater") || User.IsInRole("testerandupdater") || User.IsInRole("tester"))
        {
            <li class="dropdown">
                <a class="dropdown-toggle" href="@Url.Action("Index", "DoanhNghiep")">
                    Doanh nghiệp
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Bản đồ", "Map", "DoanhNghiep").If(User.IsInRole("admin") || User.IsInRole("updater") || User.IsInRole("testerandupdater"))</li>
                    <li>@Html.ActionLink("Biểu đồ", "Chart", "DoanhNghiep")</li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" href="@Url.Action("Index", "SauBenh")">
                    Sâu bệnh
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Bản đồ", "Map", "SauBenh").If(User.IsInRole("admin") || User.IsInRole("updater") || User.IsInRole("testerandupdater"))</li>
                    <li>@Html.ActionLink("Biểu đồ", "Chart", "SauBenh")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="@Url.Action("Index", "TrongTrot")">
                    Trồng trọt
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Bản đồ", "Map", "TrongTrot").If(User.IsInRole("admin") || User.IsInRole("updater") || User.IsInRole("testerandupdater"))</li>
                    <li>@Html.ActionLink("Biểu đồ", "Chart", "TrongTrot")</li>
                </ul>
            </li>
        }
        <li role="presentation" class="divider"></li>
        <li>
            @Html.ActionLink("Bản đồ", "Index", "Map", new { area = "" }, null)
        </li>
    </ul>

</div><!--/.sidebar-->