@model BVTV.WebGIS.Models.Account

@{
    ViewBag.Title = "Login";
}
<style>
    .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
<div class="container">
    <div class="form-signin">
        @using (Html.BeginForm())
        {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h2 class="form-signin-heading" @{ViewBag.Title = "Log in"; }></h2>
        @Html.LabelFor(model => model.username, new { @class = "sr-only" })
        @Html.TextBoxFor(model => model.username, new { @class = "form-control", @placeholder = "Tài khoản", @autocomplete = "off", @autocorrect = "off", @autocapitalize = "off", @spellcheck = "false" })
        @Html.LabelFor(model => model.pass, new { @class = "sr-only" })
        @Html.PasswordFor(model => model.pass, new { @class = "form-control" , @placeholder = "Mật khẩu", @autocomplete = "off", @autocorrect = "off", @autocapitalize = "off", @spellcheck = "false" })

        <div class="checkbox">
            @Html.EditorFor(model => model.isRemember)
            @Html.LabelFor(model => model.isRemember)
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button>
        }
    </div>
</div> <!-- /container -->
