@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{

    ViewBag.Title = "Xóa role";

    Layout = "~/Areas/Admin/Views/Shared/_LayoutTable.cshtml";

}

<div class="row">

    <div class="col-md-12 ">

        <h2>@ViewBag.Title</h2>

        <hr />

        <div class="text-center">

            <h5>Bạn có chắc muốn xóa role @Model.Name ? </h5>

            @using (Html.BeginForm())

            {

                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })

                <button type="submit" class="btn btn-primary">Chấp nhận</button>

                <a href="@Url.Action("Index")" class="btn btn-default">Không xóa</a>

            }

        </div>

    </div>

</div>